<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink] = "['/']">Happy To Help</a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="authService.loggedIn()"[routerLinkActive]="['active']" [routerLinkActiveOptions] ="{exact:true}">
        <a class="nav-link" [routerLink] = "['/wall']">Home <span class="sr-only">(Home)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] ="{exact:true}">
        <a class="nav-link" [routerLink] = "['/login']" >Login <span class="sr-only">(Login)</span></a>
      </li>
      <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['/login']" [routerLinkActiveOptions] ="{exact:true}">
        <a class="nav-link" [routerLink] = "['/register']">Register <span class="sr-only">(Register)</span></a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()" (click)="onLogoutClick()">
        <a class="nav-link">Profile <span class="sr-only">(Profile)</span></a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()" (click)="onLogoutClick()">
        <a class="nav-link">Logout <span class="sr-only">(Logout)</span></a>
      </li>

    </ul>
  </div>
</nav>