<div class="jumbotron">
	<div class="card">
		<h3 class="card-header">It's great to see you again...</h3>
		<div class="card-block">
			<h5 class="card-title">Login</h5>
		</div>
		<div class="card-block">
			<form (submit)="onLoginSubmit()">
				<fieldset>
					<div class="form-group">
						<label>handle,email or phone</label>
						<input class="form-control" name="uname" [(ngModel)]="uname" aria-describedby="User" placeholder="Handle, Email or Phone" type="text">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input class="form-control" name="password" [(ngModel)]="password" id="exampleInputPassword1" placeholder="Password" type="password">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</fieldset>
			</form>
		</div>
		<div class="card-footer text-muted text-xs-center">
			<a [routerLink] = "['']" class="card-link">Forgot Password?</a><br>
			<span>Not a member yet? <a [routerLink] = "['/register']" class="card-link">Register Now!</a></span>
		</div>
	</div>
</div>