<div class="jumbotron">
	<ul class="list-group">
  <li class="list-group-item">
    UID : {{uid}}
  </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill float-xs-right">2</span>
    Dapibus ac facilisis in
  </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill float-xs-right">1</span>
    Morbi leo risus
  </li>
</ul>
</div>