<div class="jumbotron">
	<div class="card">
		<h3 class="card-header">Yayy!</h3>
		<div class="card-block">
			<h5 class="card-title">Register</h5>
		</div>
		<div class="card-block">
			<form (submit)="onRegisterSubmit()">
				<fieldset>
					<div class="form-group form-inline">
						<label class="mr-2">First Name</label>
						<input class="form-control" aria-describedby="Name" name="firstName" [(ngModel)]="firstName" placeholder="First Name" type="text">
						<label class="ml-5 mr-2">Last Name</label>
						<input name="lastName" [(ngModel)]="lastName" class="form-control" aria-describedby="Name" placeholder="Last Name" type="text">
					</div>
					<div class="form-group form-inline">
						<label class="mr-2">Date of Birth</label>
						<input class="form-control" name="date" [(ngModel)]="date" aria-describedby="Date" placeholder="Date" type="number">
						<input class="form-control" name="month" [(ngModel)]="month" aria-describedby="Month" placeholder="Month" type="number">
						<input class="form-control" name="year" [(ngModel)]="year" aria-describedby="Year" placeholder="Year" type="number">
					</div>
					<div class="form-group form-inline">
						<label class="mr-2">Phone Number</label>
						<input class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber" aria-describedby="Phone Number" placeholder="Phone Number" type="text">
					</div>
					<div class="form-group form-inline">
						<label class="mr-2">Email Address</label>
						<input class="form-control" name="emailAddress" [(ngModel)]="emailAddress" aria-describedby="Email Address" placeholder="Email Address" type="text">
					</div>
					<div class="form-group form-inline">
						<label class="mr-2">Handle</label>
						<div class="input-group-addon">-</div>
						<input class="form-control" name="handle" [(ngModel)]="handle" aria-describedby="handle" placeholder="Handle" type="text">
					</div>
					<div class="form-group form-inline">
						<label class="mr-2">Password</label>
						<input class="form-control" name="password" [(ngModel)]="password" aria-describedby="password" placeholder="Password" type="password">
					</div>
					<fieldset class="form-group form-inline">
						<legend>Gender</legend>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input ml-2" name="gender" [(ngModel)]="gender" value="Male" checked="" type="radio">
								Male
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input ml-2" name="gender" [(ngModel)]="gender" value="Female" type="radio">
								Female
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input ml-2" name="gender" [(ngModel)]="gender" value="Other"  type="radio">
								Other
							</label>
						</div>
					</fieldset>
					<button type="submit" class="btn btn-primary">Submit</button>
				</fieldset>
			</form>
		</div>
		<div class="card-footer text-muted text-xs-center">
			<a [routerLink] = "['']" class="card-link">Forgot Password?</a><br>
			<span>Not a member yet? <a [routerLink] = "['/register']" class="card-link">Register Now!</a></span>
		</div>
	</div>
</div>