<div class="jumbotron">
	<button class="btn btn-outline-success" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="onAddReqClick()">Add Request</button>
	<div class="list-group container text-center">
		<li class="list-item card" *ngFor="let request of requests">
			<h5 class="card-title">{{request.title}}</h5>
			<small>{{request.postedBy.handle}}</small><small>{{request.postedOn}}</small>
			<br>
			<p>{{request.desc}}</p>
			<div class="btn btn-outline-success">Accept</div>
		</li>
	</div>
</div>
	<!-- ADD REQUEST MODAL FORM -->
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add request</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form (submit)  = "onAddReqSubmitClick()">
						<div class="form-group">
							<label  class="form-control-label">Title:</label>
							<input type="text" name="title" [(ngModel)]="title" class="form-control" id="recipient-name">
						</div>
						<hr>
						<label class="mr-2">When</label>
						<div class="form-group form-inline">
							<input class="form-control" name="date" [(ngModel)]="date" aria-describedby="Date" placeholder="Date" type="number">
							<input class="form-control" name="month" [(ngModel)]="month" aria-describedby="Month" placeholder="Month" type="number">
							<input class="form-control" name="year" [(ngModel)]="year" aria-describedby="Year" placeholder="Year" type="number">
						</div>
						<div class="form-group form-inline">
							<input class="form-control" name="hour" [(ngModel)]="hour" aria-describedby="hour" placeholder="hour" type="number">
							<input class="form-control" name="minute" [(ngModel)]="minute" aria-describedby="minute" placeholder="minute" type="number">
						</div><hr>
						<div class="form-group">
							<label  class="form-control-label">Description:</label>
							<textarea name="desc" [(ngModel)]="desc" class="form-control" rows="8" id="message-text"></textarea>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button> <button type="submit" class="btn btn-success">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>